PORT=3000
NODE_ENV=production

MONGODB_URI=mongodb://xxx:xxx@xxx.xxx:xxx
MONGODB_DB_NAME=vtft

CRAWLER_CHAMPIONS_ENABLED=true
CRAWLER_CHAMPIONS_SCHEDULE=10 4,10,16,22 * * *

CRAWLER_ITEMS_ENABLED=true
CRAWLER_ITEMS_SCHEDULE=5 4,10,16,22 * * *

CRAWLER_AUGMENTS_ENABLED=true
CRAWLER_AUGMENTS_SCHEDULE=0 4,10,16,22 * * *

CRAWLER_COMPS_ENABLED=true
CRAWLER_COMPS_SCHEDULE=30 4,10,16,22 * * *

