PORT=3000
NODE_ENV=production

MONGODB_URI=mongodb://xxx:xxx@xxx.xxx:xxx
MONGODB_DB_NAME=vtft

CRAWLER_BASIC_DATA_ENABLED=true
CRAWLER_BASIC_DATA_SCHEDULE=0 */4 * * *
CRAWLER_COMPS_ENABLED=true
CRAWLER_COMPS_SCHEDULE=5 */4 * * *
CRAWLER_DETAILS_CONCURRENCY=5

SEASONS=S15:1100,S16:PBE
